/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
composer.json
composer.lock
/.idea/.gitignore
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/.idea/commandlinetools/Laravel_2_28_23__11_23_AM.xml
/.idea/modules.xml
/.idea/payment.ultimopay.io.iml
/.idea/php.xml
/.idea/phpunit.xml
/.idea/vcs.xml
/doc/
/.idea
/app/includes/pdf/data/
